<launch>
    <param name="diablo_robot_description" command="$(find xacro)/xacro $(find diablo)/urdf/diablo.xacro
       close_chain:=false
    "/>

    <param name="robot_description" command="$(find xacro)/xacro $(find diablo)/urdf/diablo.xacro
    "/>

    <rosparam file="$(find diablo)/config/hw.yaml" command="load"/>

    <node name="diablo_hw_run" pkg="diablo_hw" type="diablo_hw_run" respawn="false"/>
</launch>