<launch>
    <param name="robot_description"
           command="$(find xacro)/xacro $(find diablo)/urdf/diablo.xacro
           close_chain:=true
           use_simulation:=true
    "/>

    <param name="diablo_description"
           command="$(find xacro)/xacro $(find diablo)/urdf/diablo.xacro
           close_chain:=true
           use_simulation:=true
    "/>


    <rosparam file="$(find diablo)/config/gazebo.yaml" command="load"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="world_name" value="$(find robot_gazebo)/worlds/empty_world.world"/>
<!--        <arg name="world_name" value="$(find robot_gazebo)/worlds/pole_world.world"/>-->
<!--        <arg name="world_name" value="$(find robot_gazebo)/worlds/stair_world.world"/>-->
    </include>
    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          output="screen"
          args="-param robot_description -urdf -model robot
        -z 0.2
        "
    />
</launch>