model_name: "policy_new_vmc.pt"
framework: "isaacgym"
rows: 2
cols: 3
use_history: False
dt: 0.005
decimation: 2
num_observations: 27
observations: ["ang_vel", "gravity_vec", "commands", "vmc", "wheel", "actions"]
clip_obs: 100.0
clip_actions_lower: [-200., -200, -200,
                     -200., -200, -200]
clip_actions_upper: [200., 200, 200,
                     200., 200, 200]
#clip_actions_lower: [-1., 0., -2,
#                     -1., 0., -2]
#clip_actions_upper: [1., 0.3, 2,
#                     1., 0.3, 2]
#clip_actions_lower: [-0.5, 0, -27,
#                     -0.5, 0, -27]
#clip_actions_upper: [0.5, 0.5, 27,
#                     0.5, 0.5, 27]

num_of_dofs: 6
action_scale_pos: 0.5
action_scale_vel: 10.0
lin_vel_scale: 2.0
ang_vel_scale: 0.25
dof_pos_scale: 0.0
dof_vel_scale: 0.05

# For vmc
use_vmc: True
num_of_vmc: 8
l_scale: 5.0
l_dot_scale: 0.25
theta_scale: 1.0
theta_dot_scale: 0.05

l_offset: 0.2
action_scale_l: 0.1
action_scale_theta: 0.5


commands_scale: [2.0, 0.25, 5.0]
torque_limits: [26, 26, 26,
                26, 26, 26]

default_dof_pos: [ 0., 0., 0.0,
                   0., 0., 0.0]

